<div class="thumbnail -blog">
    {% block cover %}{% endblock cover %}

    <div class="caption">
        <h4>{% block title %}{% endblock %}</h4>

        {% block shortDescription %}{% endblock %}
        {% block price %}{% endblock %}

        {% block button %}{% endblock %}
    </div>
</div>
